$brown : #482f2f;
$purple : #9f2c9d;
$light-gray : #f1f1f1;
$headerHeight : 12%;


@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: $light-gray !important;
    height: 100vh;
    user-select: none;
}

header{
    height: $headerHeight;

    img {
        height: 70%;
        max-height: 35px;
    }

    &::before {
        content: '';
        height: 12%;
        width: 100%;
        position: absolute;
        top: 0;
        background: $brown;
        background: linear-gradient(90deg, $brown 9%, $purple 100%);
        border-bottom: 2px solid white;
    }

    >div:nth-child(2){
        position: absolute;
        top: 0;
        transform: translateY(50%);
        right: 1%;
        z-index: 20;
    }
}

main {
    height: 100% - $headerHeight;
    position: relative;

    section{
        @include flexCenter();

        &:nth-child(1){
            height: 60%;
        }
        &:nth-child(2){
            height: 10%;
        }
        &:nth-child(3){
            height: 20%;
        }
        &:nth-child(4){
            height: 10%;
        }
    }
}

input[type="text"]{
    border: 1px solid gray;
    background-color: $brown;
    font-weight: bold;
    color: wheat;
    z-index: 5;

    &:focus {
        border: 1px solid $brown;
    outline: none;
    -webkit-box-shadow: 0px 0px 1px 2px $brown;
    -moz-box-shadow: 0px 0px 2px 1px $brown;
    box-shadow: 0px 0px 2px 1px $brown;
    }
}

#wordCount {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: left;
    padding-left: 3%;
}

/* Man drawing */
/* Initially hide drawing */ 

#ground-path {
    stroke-dasharray: 470px;
    stroke-dashoffset: 440px;
}

#wood1-path {
    stroke-dasharray: 1070px;
    stroke-dashoffset: 1070px;
}

#wood2-path {
    stroke-dasharray: 644px;
    stroke-dashoffset: 622px;
}

#wood3-path {
    stroke-dasharray: 420px;
    stroke-dashoffset: 405px;
}

#wood4-path {
    stroke-dasharray: 220px;
    stroke-dashoffset: 200px;
}

#head1-path {
    stroke-dasharray: 645px;
    stroke-dashoffset: 649px;
}

#eye2-path, #eye1-path {
    stroke-dasharray: 25px;
    stroke-dashoffset: 26px;
}

#mouth-path {
    stroke-dasharray: 80px;
    stroke-dashoffset: 76px;
}

#body-path {
    stroke-dasharray: 333px;
    stroke-dashoffset: 321px;
}

#left-arm-path, #right-arm-path {
    stroke-dasharray: 227px;
    stroke-dashoffset: 214px;
}

#left-leg-path, #right-leg-path {
    stroke-dasharray: 250px;
    stroke-dashoffset: 250px;
}

/* Man animations */

#mouth-2-path {
    display: none;
}

#mouth-dead-path {
    stroke-dasharray: 83px;
    stroke-dashoffset: 83px;
}

#eye2-path.draw, #eye1-path.draw {
    stroke-dasharray: 25px;
    stroke-dashoffset: 0;
    animation: blink 6s infinite linear;
}

#eye1-dead-path1, #eye1-dead-path2, #eye2-dead-path1, #eye2-dead-path2 {
    stroke-dasharray: 80px;
    stroke-dashoffset: 80px;
}

#happy-path {
    stroke-dasharray: 253px;
    stroke-dashoffset: 249px;
}

@keyframes blink {
    0%{
        stroke-dashoffset: 0;
    }
    96%{
        stroke-dashoffset: 0;
    }
    98%{
        stroke-dashoffset: -25px;
    }
    100%{
        stroke-dashoffset: 0;
    }
}
.draw {
    animation: draw 300ms linear forwards;
}

#mouth-path.draw {
    animation: draw 0ms linear forwards;
}

@keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
}

#man.surprised {

    #mouth-path {
        display: none;
    }
    #mouth-2-path {
        display: block;
    }
}

/* Past letters */

#past-letters {
    background-color: $brown;
    color: white;
    width: 100%;
    height: 100%;
    border-radius: 2%;
    word-break: break-all;
    flex-wrap: wrap;
    max-width: 420px;
    span {
        padding: 0 1%;
    }
}

.flash-red {
    animation: flashRed 1s linear forwards;
}

@keyframes flashRed {
    25%{
        color : red;
        text-shadow: 0px 0px 3px maroon;
        transform: scale(1.3);
    }
    50%{
        color: inherit;
        text-shadow: none;
        transform: none;
    }
    75%{
        color : red;
        text-shadow: 0px 0px 3px maroon;
        transform: scale(1.3);
    }
    100%{
        color: inherit;
        text-shadow: none;
        transform: none;
    }
    
}

/* Letters */

.letter-frame {
    height: calc(1.2rem + 1.5vw);
    width: calc(1rem + 1vw);

    &::after {
        content: '';
        height: 5px;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        background: url(../img/line.svg) no-repeat;
    }

    span {
        font-weight: bold;
        font-size: calc(1em + 1vw);
        color: $brown;
    }
}

// Input

input.fadeIn {
    animation: fadeIn 0.5s forwards linear;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
}

input.fadeOut {
    animation: fadeOut 0.5s forwards linear;
}

@keyframes fadeOut {
    from {
        opacity: 100;
    }
    to {
        opacity: 0;
    }
}

/* UI Feedback */

.ui-modal {
    position: absolute;
    top: 23%;
    left: -20rem;
    transition: top 500ms, left 500ms;
    width: 10rem;
    transform: scale(1.4) rotate(-17deg);
    span {
        white-space: nowrap;
        font-weight: bold;
        font-size: 1.5rem;
    }
}

.ui-modal.visible {
    left: 8%;
}

#invalid-input-modal {
    transform: none;
    background: url(../img/modal_brown.svg) no-repeat 100%;
    span {
        font-size: initial;
    }
}

#gameWon-modal {
    background: url(../img/modal_green.svg) no-repeat 100%;
}

#gameOver-modal {
    background: url(../img/modal_red.svg) no-repeat 100%;
}

/* Settings */

#settings{
    
    img {
        height: 1.5rem;
    }
    
    > div:first-child{
        position: relative;
        height: 2rem;
        width: 2rem;
        border-radius: 5px;
        box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
        
        &:hover{
            background-color: white;
            cursor: pointer;
        }

        &.pushed {
            box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75) inset;
        }
    }

    > div:nth-child(2){
        border-radius: 5px;
        display: none;
        position: absolute;
        right: 0;
        top: 110%;
        box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
        z-index: 20;

        div {

            img {
                margin-right: 0.5rem;
            }
        }

        #lang-select{
            width: 90%;
            box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
            background-color: scale-color($light-gray, $lightness: -50%);
            border-radius: 13%;
        }

        .lang {
            background-color: $light-gray;
            flex : 1 1 auto;
            text-align: center;
            box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.767), inset -2px -2px 2px -1px rgba(0, 0, 0, 0.788);
            
            &:hover {
                cursor: pointer;
            }

            &:first-child{
                border-top-left-radius: 13%;
                border-bottom-left-radius: 13%;                
            }

            &:last-child{
                border-top-right-radius: 13%;
                border-bottom-right-radius: 13%;
            }
            
            &.active {
                box-shadow: inset 2px 2px 3px 0px rgba(0, 0, 0, 0.767);
                background-color: scale-color($color: $light-gray, $lightness: -10%);
            }
        }
    }
}

#diff {

    div {
        height: 0.8rem;
        width: 0.8rem;
        border-radius: 50%;
    }

    #easy {
        background-color: green;
    }

    #medium {
        background-color: orange;
    }

    #hard {
        background-color: maroon;
    }

}

#diff {
    -webkit-appearance: none;
    width: 100%;
    margin: 0px 0;
  }
  #diff:focus {
    outline: none;
  }
  #diff::-webkit-slider-runnable-track {
      width: 100%;
      height: 22px;
      cursor: pointer;
      box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
      border-radius: 1.6px;
      border: 0px solid #010101;
    }

    #diff.easy::-webkit-slider-runnable-track {
        background: #1fa41d;
    }
    #diff.medium::-webkit-slider-runnable-track {
        background: orange;
    }
    #diff.hard::-webkit-slider-runnable-track {
        background: maroon;
    }

    #diff::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 1.7px solid #482f2f;
    height: 22px;
    width: 16px;
    border-radius: 0px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: 0px;
  }
  #diff.easy:focus::-webkit-slider-runnable-track {
    background: #23ba21;
  }
  #diff.medium:focus::-webkit-slider-runnable-track {
    background: orange;
  }
  #diff.hard:focus::-webkit-slider-runnable-track {
    background: maroon;
  }
  #diff::-moz-range-track {
    width: 100%;
    height: 22px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border-radius: 1.6px;
    border: 0px solid #010101;
  }

  #diff.easy::-moz-range-track {
      background: #1fa41d;
  }
  #diff.medium::-moz-range-track {
      background: orange;    
  }
  #diff.hard::-moz-range-track {
      background: maroon;    
  }
  #diff::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 1.7px solid #482f2f;
    height: 22px;
    width: 16px;
    border-radius: 0px;
    background: #ffffff;
    cursor: pointer;
  }
  #diff::-ms-track {
    width: 100%;
    height: 22px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  #diff::-ms-fill-lower {
    border: 0px solid #010101;
    border-radius: 3.2px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  }

  #diff.easy::-ms-fill-lower {
      background: #1fa41d;
  }

  #diff.medium::-ms-fill-lower {
      background: orange;    
  }

  #diff.hard::-ms-fill-lower {
      background: maroon;
  }

  #diff::-ms-fill-upper {
      border: 0px solid #010101;
      border-radius: 3.2px;
      box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    }

  #diff.easy::-ms-fill-upper {
      background: #1fa41d;
  }
  #diff.medium::-ms-fill-upper {
      background: orange;
  }
  #diff.hard::-ms-fill-upper {
      background: maroon;
  }
  #diff::-ms-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 1.7px solid #482f2f;
    width: 16px;
    border-radius: 0px;
    background: #ffffff;
    cursor: pointer;
    height: 22px;
  }
  #diff.easy:focus::-ms-fill-lower {
    background: #1fa41d;
  }

  #diff.medium:focus::-ms-fill-lower {
      background: orange;
  }
  #diff.hard:focus::-ms-fill-lower {
      background: maroon;
  }
  #diff.easy:focus::-ms-fill-upper {
    background: #23ba21;
  }
  #diff.medium:focus::-ms-fill-upper {
    background: orange;
  }
  #diff.hard:focus::-ms-fill-upper {
    background: maroon;
  }

input[type=submit] {
    background-color: $brown;
    border: 0;
    color: white;
    margin-bottom: 0.5rem;
    border-radius: 15%;
}