$brown : #482f2f;
$purple : #9f2c9d;
$headerHeight : 12%;

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color:#f1f1f1 !important;
    height: 100vh;
    user-select: none;
}

header{
    height: $headerHeight;

    img {
        height: 70%;
    }

    &::before {
        content: '';
        height: 12%;
        width: 100%;
        position: absolute;
        top: 0;
        background: $brown;
        background: linear-gradient(90deg, $brown 9%, $purple 100%);
        border-bottom: 2px solid white;
    }
}

main {
    height: 100% - $headerHeight;
    position: relative;

    section{
        @include flexCenter();

        &:nth-child(1){
            height: 60%;
        }
        &:nth-child(2){
            height: 10%;
        }
        &:nth-child(3){
            height: 20%;
        }
        &:nth-child(4){
            height: 10%;
        }
    }
}

input{
    border: 1px solid gray;
    background-color: $brown;
    font-weight: bold;
    color: wheat;
    z-index: 5;

    &:focus {
        border: 1px solid $brown;
    outline: none;
    -webkit-box-shadow: 0px 0px 1px 2px $brown;
    -moz-box-shadow: 0px 0px 2px 1px $brown;
    box-shadow: 0px 0px 2px 1px $brown;
    }
}

#wordCount {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: left;
    padding-left: 3%;
}

/* Man drawing */
/* Initially hide drawing */ 

#ground-path {
    stroke-dasharray: 470px;
    stroke-dashoffset: 440px;
}

#wood1-path {
    stroke-dasharray: 1070px;
    stroke-dashoffset: 1070px;
}

#wood2-path {
    stroke-dasharray: 644px;
    stroke-dashoffset: 622px;
}

#wood3-path {
    stroke-dasharray: 420px;
    stroke-dashoffset: 405px;
}

#wood4-path {
    stroke-dasharray: 220px;
    stroke-dashoffset: 200px;
}

#head1-path {
    stroke-dasharray: 645px;
    stroke-dashoffset: 649px;
}

#eye2-path, #eye1-path {
    stroke-dasharray: 25px;
    stroke-dashoffset: 26px;
}

#mouth-path {
    stroke-dasharray: 80px;
    stroke-dashoffset: 76px;
}

#body-path {
    stroke-dasharray: 333px;
    stroke-dashoffset: 321px;
}

#left-arm-path, #right-arm-path {
    stroke-dasharray: 227px;
    stroke-dashoffset: 214px;
}

#left-leg-path, #right-leg-path {
    stroke-dasharray: 250px;
    stroke-dashoffset: 250px;
}

/* Man animations */

#mouth-2-path {
    display: none;
}

#eye2-path.draw, #eye1-path.draw {
    stroke-dasharray: 25px;
    stroke-dashoffset: 0;
    animation: blink 6s infinite linear;
}

@keyframes blink {
    0%{
        stroke-dashoffset: 0;
    }
    96%{
        stroke-dashoffset: 0;
    }
    98%{
        stroke-dashoffset: -25px;
    }
    100%{
        stroke-dashoffset: 0;
    }
}
.draw {
    animation: draw 300ms linear forwards;
}

#mouth-path.draw {
    animation: draw 0ms linear forwards;
}

@keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
}

#man.surprised {

    #mouth-path {
        display: none;
    }
    #mouth-2-path {
        display: block;
    }
}

/* Past letters */

#past-letters {
    background-color: $brown;
    color: white;
    width: 100%;
    height: 100%;
    border-radius: 2%;
    word-break: break-all;
    flex-wrap: wrap;
    max-width: 420px;
    span {
        padding: 0 1%;
    }
}

/* Letters */

.letter-frame {
    height: calc(1.2rem + 1.5vw);
    width: calc(1rem + 1vw);

    &::after {
        content: '';
        height: 5px;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        background: url(../img/line.svg) no-repeat;
    }

    span {
        font-weight: bold;
        font-size: calc(1em + 1vw);
        color: $brown;
    }
}