body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color:#f1f1f1 !important;
    height: 100vh;
}

header::before {
    content: '';
    height: 0.6rem;
    width: 100%;
    position: absolute;
    top: 0;
    background: rgb(99,64,64);
    background: linear-gradient(90deg, rgba(99,64,64,1) 9%, rgba(159,44,157,1) 100%);
    border-bottom: 2px solid white;
}

#logo {
    height: 2rem;
}


/* Man drawing */

#man svg {
    height: 310px;
}

/* @media(max-height: 500px){
    #man svg {
        height: 30vh;
    }
} */

/* Man animations */

#mouth-2-grp {
    display: none;
}

#eye2-path, #eye1-path {
    stroke-dasharray: 25px;
    stroke-dashoffset: 0;
    animation: blink 6s infinite linear;
}

@keyframes blink {
    0%{
        stroke-dashoffset: 0;
    }
    96%{
        stroke-dashoffset: 0;
    }
    98%{
        stroke-dashoffset: -25px;
    }
    100%{
        stroke-dashoffset: 0;
    }
}


/* Letters */

.letter {
    height: 3rem;
    width: 2rem;
}

.letter::after {
    content: '';
    height: 5px;
    width: 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background: url(../img/line.svg) no-repeat;
}

.letter > span {
    font-weight: bold;
    font-size: 2rem;
    color: #482f2f;
}